*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  -webkit-font-smoothing: antialiased;
  @include sourceFont();
  overflow-x: hidden;
}

article:after {
  content: '';
  position: absolute;
  top: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.3;
  pointer-events: none;
  background: url(../../src/img/_commons/background.png);
}

a,
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.svg-list{
  display: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

::selection {
  background-color: #ffc066;
  color: #104aff;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}
