.loader {
  background: linear-gradient(-45deg, #5196D1, #4BD1A4);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-bubble {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 45%;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform-origin: 40px 50%;

    animation: bubble-animation 4s infinite;

    &:nth-child(1) {
      background-color: #5B3B88;
    }

    &:nth-child(2) {
      background-color: #37A579;
      animation-delay: 1s;
    }

    &:nth-child(3) {
      background-color: #EB76AB;
      animation-delay: 2s;
    }

    &:nth-child(4) {
      background-color: #FFF870;
      animation-delay: 3s;
    }

    &:nth-child(5) {
      background-color: #FDA571;
      animation-delay: 4s;
    }
  }
}


@keyframes bubble-animation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  35% {
    transform: rotate(180deg) scale(2);
  }

  70%, 100% {
    transform: rotate(360deg) scale(1);
  }
}
