.nav-lang {
  position: absolute;
  top: 50px;
  right: 60px;
  z-index: 5;

  &-item {
    display: inline-block;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(253, 165, 113, 1);
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 2px 10px 0 rgba(#242A2E, 0.5);
    transition: all 0.2s ease-out;
    text-transform: uppercase;

    &.active {
      display: none;
    }
    &:hover {
      transform: scale(1.1);
      box-shadow: 2px 2px 18px 0 rgba(#242A2E, 0.5);
    }
    &:active {
      transform: scale(0.9);
      box-shadow: 2px 2px 5px 0 rgba(#242A2E, 0.3);
    }

    span {
      @include text();
      font-weight: bold;
    }
  }
}
