---
layout: page
namespace: Home
---

<header class="header js-curve-effect" data-color-from="#4BD1A4" data-color-to="#5196D1" data-type="up">
  <div class="header-icon">
    <svg>
      <use xlink:href="#icon-logo"></use>
    </svg>
  </div>
  <h1 class="header-title">
    <span class="header-title-first">{% if page.lang == 'fr' %}Et si l’éducation sexuelle{% else %}What if sexual education{% endif %}</span>
    <span class="header-title-second">{% if page.lang == 'fr' %}était{% else %}was{% endif %} <span class="header-title-big">fun</span> {% if page.lang == 'fr' %}et{% else %}and{% endif %}</span>
    <span class="header-title-third header-title-big">{% if page.lang == 'fr' %}interactive ?{% else %}interactive?{% endif %}</span>
  </h1>

  <a class="header-scroll" href="#">
    <svg>
      <use xlink:href="#icon-scroll"></use>
    </svg>
  </a>
</header>

<section class="context container">
  <div class="js-curve-effect" data-color-from="#7C52B5" data-color-to="#7C52B5" data-type="down">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-7 offset-lg-1">
        <div class="context-item">
          <svg class="context-item-icon context-item-icon--left mr-3"><use xlink:href="#icon-picto-college"></use></svg>
          <p class="context-item-text">{{ page.context.first }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="1080" height="720" src="https://www.youtube.com/embed/eOudaxw5TZo" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-2 col-md-8 offset-md-4 col-lg-7 offset-lg-4">
        <div class="context-item">
          <svg class="context-item-icon context-item-icon--right ml-3"><use xlink:href="#icon-picto-bus"></use></svg>
          <p class="context-item-text">{{ page.context.second }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="promise container js-curve-effect" data-color-from="#242A2E" data-color-to="#242A2E" data-type="up">
  <div class="row">
    <div class="col-12 col-sm-7">
      <p class="promise-text">{{ page.promise.text }}</p>
      <p class="promise-link">{{ page.promise.link }}</p>
    </div>
    <div class="col-12 col-sm-5 promise-colab">
      <h4 class="promise-colab-title">{{ page.promise.collab.title }}</h4>
      <h3 class="promise-colab-subtitle">Priscilla Coutin</h3>
      <p class="promise-colab-text">{{ page.promise.collab.role }}</p>
      <ul class="about-item-social">
        <li>
          <a href="http://priscillacoutin-psychologue.fr" target="_blank">
            <svg>
              <use xlink:href="#icon-link"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="description container">
  <div class="row js-curve-effect" data-color-from="#A874DE" data-color-to="#FB474B" data-type="down">
    <div class="col-md-5 hidden-md-down">
      <figure class="description-image left-image">
        <img src="{{ '/illus-bus.svg' | prepend: site.baseurl_image }}" alt="{{ page.description.first.image_tag }}">
      </figure>
    </div>
    <div class="description-item col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-1">
      <h2 class="description-title">{{ page.description.first.title }}</h2>
      <figure class="description-image hidden-lg-up">
        <img src="{{ '/illus-bus.svg' | prepend: site.baseurl_image }}" alt="{{ page.description.first.image_tag }}">
      </figure>
      <ul class="description-list">
        {% for v in page.description.first.values %}
        <li class="description-list-item">
          <svg><use xlink:href="#icon-exposition-{{ v.icon }}"></use></svg>
          <div><span>{{ v.value }}</span>{{ v.label }}</div>
        </li>
        {% endfor %}
      </ul>
      <p class="description-text">{{ page.description.first.text }}</p>
    </div>
  </div>

  <div class="row js-curve-effect" data-color-from="#5195D1" data-color-to="#7C52B5" data-type="up">
    <div class="description-item col-12 col-md-10 offset-md-1 col-lg-5 offset-lg-0">
      <h2 class="description-title">{{ page.description.second.title }}</h2>
      <figure class="description-image hidden-lg-up">
        <img src="{{ '/illus-parcours-bus.svg' | prepend: site.baseurl_image }}" alt="{{ page.description.second.image_tag }}">
      </figure>
      <p class="description-text mt-3">{{ page.description.second.text }}</p>
      <figure class="mt-5">
        <img src="{{ '/gaia-bubble.svg' | prepend: site.baseurl_image }}" alt="Gaïa : Eh ouai !" class="float-right">
      </figure>
    </div>
    <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-1 hidden-md-down">
      <figure class="description-image right-image">
        <img src="{{ '/illus-parcours-bus.svg' | prepend: site.baseurl_image }}" alt="{{ page.description.second.image_tag }}">
      </figure>
    </div>
  </div>
</section>

<section class="interactions container">
  <div class="js-curve-effect" data-color-from="#242A2E" data-color-to="#242A2E" data-type="up">
    <h2 class="interactions-title">{{ page.interactions.title }} <span class="interactions-title-sub">{{ page.interactions.subtitle }}</span></h2>

    <div class="row">
      <div class="col-12 col-sm-5 col-lg-3">
        <img class="interaction-illu interaction-illu-1" src="{{ '/workshops/workshop-01.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item col-12 col-sm-7 col-lg-5 p-none">
        <div class="interaction-black-box">
          <p class="interaction-item-title">{{ page.interactions.first.title }}</p>
          <p class="interaction-item-text">{{ page.interactions.first.text }}</p>
          <div class="interaction-item-benefice-wrapper">
            <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
            <svg>
              <use xlink:href="#icon-thumbs"></use>
            </svg>
            <ul class="interaction-item-benefice-list">
              {% for benefice in page.interactions.first.benefices %}
              <li class="interaction-item-benefice">{{ benefice }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="interaction-path col-sm-4 col-md-6 col-lg-4 hidden-md-down">
        <img class="interaction-path-img interaction-path-img-bottom l-0" src="{{ '/workshops/sperm-1.png' | prepend: site.baseurl_image }}" alt="">
      </div>
    </div>

    <div class="row align-items-center mt-3">
      <div class="interaction-path col-lg-3 hidden-md-down">
        <img class="interaction-path-img interaction-path-img-xtop" src="{{ '/workshops/sperm-2.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="col-12 col-sm-5 col-lg-4">
        <img class="interaction-illu" src="{{ '/workshops/workshop-02.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item interaction-item-2 col-12 col-sm-7 col-lg-5">
        <p class="interaction-item-title">{{ page.interactions.second.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.second.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg>
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.second.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="interaction-path interaction-path-padd col-sm-5 col-lg-4 push-lg-5">
        <img class="interaction-illu interaction-illu-mb-3" src="{{ '/workshops/workshop-03.png' | prepend: site.baseurl_image }}" alt="">
        <img class="interaction-path-img interaction-path-img-xbottom hidden-md-down" src="{{ '/workshops/sperm-3.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item col-12 col-sm-7 col-lg-5 pull-lg-4">
        <p class="interaction-item-title">{{ page.interactions.third.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.third.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg>
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.third.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <div class="js-curve-effect" data-color-from="#4BD1A4" data-color-to="#4BD1A4" data-type="down">


    <div class="row align-items-center mt-3">
      <div class="interaction-path col-lg-3 hidden-md-down">
        <img class="interaction-path-img interaction-path-img-xtop" src="{{ '/workshops/sperm-4.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="col-12 col-sm-5 col-lg-4">
        <img class="interaction-illu" src="{{ '/workshops/workshop-04.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item interaction-item--light col-12 col-sm-7 col-lg-5">
        <p class="interaction-item-title">{{ page.interactions.fourth.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.fourth.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg class="is-white">
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.fourth.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-center mt-5">
      <div class="interaction-path interaction-path-padd col-sm-5 col-lg-4 push-lg-5">
        <img class="interaction-illu interaction-illu-mb-3" src="{{ '/workshops/workshop-05.png' | prepend: site.baseurl_image }}" alt="">
        <img class="interaction-path-img interaction-path-img-bottom-left hidden-md-down" src="{{ '/workshops/sperm-5.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item interaction-item--light col-12 col-sm-7 col-lg-5 pull-lg-4">
        <p class="interaction-item-title">{{ page.interactions.fifth.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.fifth.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg class="is-white">
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.fifth.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <div class="js-curve-effect" data-color-from="#242A2E" data-color-to="#242A2E" data-type="down">
    <div class="row align-items-center">
      <div class="interaction-path interaction-path-xpadd col-12 col-sm-5 col-lg-4 mb-3 text-right">
        <img class="interaction-illu interaction-illu-mb-3" src="{{ '/workshops/workshop-06.png' | prepend: site.baseurl_image }}" alt="">
        <img class="interaction-path-img interaction-path-img-mdbottom hidden-md-down" src="{{ '/workshops/sperm-6.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item col-12 col-sm-7 col-lg-5">
        <p class="interaction-item-title">{{ page.interactions.sixth.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.sixth.text }}</p>
        <p class="interaction-item-text">{{ page.interactions.sixth.text_second }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg>
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.sixth.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-12 col-sm-5 col-lg-4 push-lg-5">
        <img class="interaction-illu interaction-illu-mb-3" src="{{ '/workshops/workshop-07.png' | prepend: site.baseurl_image }}" alt="">
      </div>
      <div class="interaction-item col-12 col-sm-7 col-lg-5 pull-lg-4">
        <p class="interaction-item-title">{{ page.interactions.seventh.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.seventh.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg>
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.seventh.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="interaction-path col-sm-4 col-md-6 col-lg-3 hidden-md-down">
        <img class="interaction-path-img interaction-path-img-top" src="{{ '/workshops/sperm-7.png' | prepend: site.baseurl_image }}" alt="">
      </div>
    </div>

    <div class="row mt-5 mb-3">
      <div class="interaction-item col-12 col-sm-7 col-lg-5">
        <p class="interaction-item-title">{{ page.interactions.eighth.title }}</p>
        <p class="interaction-item-text">{{ page.interactions.eighth.text }}</p>
        <div class="interaction-item-benefice-wrapper">
          <p class="interaction-item-benefice-pre">{{ site.data.translations[page.lang].benefice }}</p>
          <svg>
            <use xlink:href="#icon-thumbs"></use>
          </svg>
          <ul class="interaction-item-benefice-list">
            {% for benefice in page.interactions.eighth.benefices %}
            <li class="interaction-item-benefice">{{ benefice }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about container js-curve-effect" data-color-from="#FC6269" data-color-to="#FDA571" data-type="up">
  <h2 class="about-title">{{ page.about.title }}</h2>
  <p class="about-text">{{ page.about.text }}</p>

  <div class="row about-list">
    {% for p in page.about.people %}
    <div class="about-item col-6 col-md-3">
      <figure class="about-item-image">
        <img src="{{ p.image_src | prepend: site.baseurl_image }}" alt="{{ p.image_alt }}">
      </figure>
      <p class="about-item-name">{{ p.name }}</p>
      <p class="about-item-job">{{ p.job }}</p>
      <ul class="about-item-social">
        {% for social in p.social %}
        <li>
          <a href="{{ social.url }}" target="_blank">
            <svg>
              <use xlink:href="#icon-{{ social.icon }}"></use>
            </svg>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</section>

<div class="js-curve-effect" data-color-from="#5B3B88" data-color-to="#5195D1">
  <section class="map container">
    <p class="map-title">{{ page.map.title }}</p>
    <p class="map-address">18 Avenue du Tresum <br> 74000 Annecy</p>

    <a href="https://goo.gl/maps/jCF4nyViyzA2" target="_blank" class="map-link">
      <figure class="map-loc">
        <img src="{{ '/map.png' | prepend: site.baseurl_image }}" alt="{{ page.map.image_alt }}">
      </figure>
    </a>
  </section>

  <section class="social container">
    <p class="social-title">{{ page.social.title }}</p>
    <ul class="social-media-list">
      <li class="social-media-item" id="facebook">
        <a href="https://www.facebook.com/FaceToFesses/" target="_blank">
          <svg>
            <use xlink:href="#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item" id="twitter">
        <a href="https://twitter.com/FaceToFesses" target="_blank">
          <svg>
            <use xlink:href="#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item" id="mail">
        <a href="mailto:contact@facetofesses.fr">
          <svg>
            <use xlink:href="#icon-mail"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="social-partners-list">
      <li class="social-partners-item" id="gobelins">
        <a href="http://www.gobelins.fr" target="_blank">
          <svg>
            <use xlink:href="#icon-gobelins"></use>
          </svg>
        </a>
      </li>
      <li class="social-partners-item" id="cci">
        <a href="http://www.formation-cci.fr" target="_blank">
          <svg>
            <use xlink:href="#icon-cci-formation"></use>
          </svg>
        </a>
      </li>
    </ul>
  </section>
</div>

<canvas id="canvas"></canvas>
