.context {

  &-item {
    text-align: center;
    padding: 50px 0;

    @include breakpoint-medium() {
      padding: 100px 50px;
      text-align: left;
    }

    &-text {
      @include text();
    }

    &-icon {
      width: 200px;
      fill: #A874DE;

      &--right {
        @include breakpoint-small() {
          float: right;
        }
      }

      &--left {
        @include breakpoint-small() {
          float: left;
        }
      }
    }
  }
}
