.description {

  &-item {
    padding-top: 100px;
    padding-bottom: 100px;


    @include breakpoint-medium() {
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }

  &-title {
    @include title();
    margin-bottom: 10px;
  }

  &-image {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }

    @include breakpoint-medium() {
      padding: 30px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 400px;

      &.left-image img {
        float: right;
      }

      img {
        height: 100%;
        width: auto;
      }
    }
  }

  &-text {
    @include text();
    color: #242A2E;
    margin-bottom: 15px;
  }

  &-list {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 20px 0;

    &-item {
      @include sourceFont();
      font-size: 18px;
      color: #242A2E;
      letter-spacing: 1.5px;
      line-height: 20px;
      text-transform: uppercase;
      text-align: center;

      svg {
        fill: #F9A0D6;
        width: 60px;
        height: 60px;
      }

      div {
        @include sourceFont();
        font-weight: 500;
        font-size: 16px;
        margin-top: 5px;
      }

      span {
        color: #fff;
        margin-right: 7px;
      }
    }

    @include breakpoint-xsmall() {
      padding-right: 60px;
    }
  }
}
