.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: 900px;
  text-align: center;
  padding: 0 30px;
  z-index: 4;
  background: linear-gradient(-45deg, #5196D1, #4BD1A4);

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
    z-index: -1;
    background: url(../../src/img/_commons/header_background.png) no-repeat;
    @include background-cover();
  }

  &-icon {
    display: inline-block;
    margin-top: 70px;

    svg {
      fill: #FFFFFF;
      width: 113px;
      height: 60px;
    }
  }

  &-title {
    opacity: 0;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 2;

    text-align: center;
    @include big-title();

    @include breakpoint-small() {
      position: absolute;
      max-width: 800px;
      width: 80%;
      margin-top: 25px;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &-scroll {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    z-index: 5;
    animation: bounce 2s $easeInOutCirc infinite;

    svg {
      fill: #FFFFFF;
      width: 14px;
      height: 32px;
      pointer-events: none;
    }
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0)
  }
  50% {
    transform: translateY(20px)
  }
}
