.interactions {

  .js-curve-effect {
    padding: 50px 0;

    &:first-child {
      padding-top: 80px;
    }
  }

  &-title {
    @include big-title();
    text-align: center;
    margin-bottom: 40px;
    color: #242A2E;
  }

  .interaction-item {
    padding-top: 50px;
    padding-bottom: 50px;

    &-title {
      @include title();
      margin-bottom: 10px;
      text-align: center;

      @include breakpoint-xsmall() {
        text-align: left;
      }
    }

    &-text {
      @include text();
      text-align: center;
      margin-bottom: 20px;
      color: #242A2E;

      @include breakpoint-xsmall() {
        text-align: left;
      }
    }

    &-benefice {
      @include text();
      margin-bottom: 5px;
      color: #242A2E;

      &-wrapper {
        position: relative;

        svg {
          position: absolute;
          top: -25px;
          left: -55px;
          fill: #4BD1A4;
          width: 40px;
          height: 50px;

          &.is-white {
            fill: #FFFFFF;
          }
        }
      }

      &-pre {
        position: relative;
        @include sourceFont();
        font-size: 18px;
        color: #242A2E;
        letter-spacing: 1.5px;
        line-height: 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      &-list {
        padding: 5px 0;
      }
    }
  }
}
