.map {
  position: relative;
  text-align: center;
  margin-top: -400px;

  &-title {
    @include reklameScript();
    transform: rotate(-5deg);
    font-size: 34px;
    color: #fff;
    letter-spacing: 1px;
  }

  &-address {
    @include sourceFont();
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 3px;
    line-height: 28px;
    text-transform: uppercase;
    margin-top: 30px;
  }

  .js-curve-effect:first-child {
    padding: 80px 0;
  }

  &-loc {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0px auto 0;
    z-index: 10;

    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
    }
  }

  &-link {
    display: inline-block;
  }

  .special-curve-effect {
    position: absolute;
    bottom: 0;
    height: 500px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
