.social {
  text-align: center;
  padding-bottom: 20px;

  &-title {
    @include title();
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  &-media-item {
    display: inline-block;
    padding: 10px;
    position: relative;
    vertical-align: middle;

    svg {
      fill: rgba(255, 255, 255, 0.6);
      transition: fill 0.5s;
    }

    &:hover svg {
      fill: #FFFFFF;
    }

    &#facebook svg {
      width: 16px;
      height: 30px;
    }

    &#twitter svg {
      width: 30px;
      height: 24px;
    }

    &#mail svg {
      width: 30px;
      height: 20px;
    }
  }

  &-partners-list {
    position: relative;
    margin-top: 60px;

    &:before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      width: 200px;
      height: 1px;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &-partners-item {
    display: inline;
    margin: 0 20px;

    svg {
      fill: rgba(#fff, 0.4);
    }

    &#cci svg {
      width: 92px;
      height: 30px;
    }

    &#gobelins svg {
      width: 20px;
      height: 30px;
    }
  }
}
